[run]
source = app
omit =
    */tests/*
    */__init__.py
    */alembic/*

[report]
show_missing = True
fail_under = 80
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    if TYPE_CHECKING:

[html]
directory = htmlcov
